build/
data/generated
data/figures
logs/
*.data
*.csv
*.perf-folded
*.svg
*.in
*.out
*.dat
*.fa
*.int
*.txt
*.png
*.o
*.a
*.pdf
*.tsv
*.fa
*.int
*.perf
*.gz
*.tex
.DS_Store
.idea/
benchmark/FlameGraph/
/cmm
experiments/bin/
venv/
output/
__pycache__/
